/* palette */
:root{
    --light-blue:#B4D0E7;
    --blue: #0061ff;
    --blue-2: #3b86ff;
    --purple: #61082b;
    --light-gray: #f5f5f5;
}
/* basic settings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: open-sans, sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}
/* layout */
/* header */
header {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    overflow: hidden;
    z-index: 1;
}
    /* blank container under the nav bar  */
body::before{
    content: "";
    display: block;
    height: 50px;
}

header nav {
    width: 100%;
}
    /* head logo */
header .logo-container img{
    object-fit: contain;
    max-width: 100%;
    vertical-align: middle;
    margin-bottom: 2px;
}
    /* nav bar columns */
.nav-col:first-child {
    width: 11%;
}

.nav-col:last-child {
    width: 7%;
}

.nav-col:nth-child(3) ul{
    float: right;
}

.nav-col {
    width: 41%;
    float: left;
    line-height: 50px;
}

nav li {
    float: left;
}

header a{
    margin: 0 1.4em;
    display: inline-block;
    font-size: 0.8em;
    color: black;
    border: 2px solid transparent;
}


nav ul li a:hover{
    border-bottom: 2px solid black;
}
/* button */
.btn {
    word-spacing: 0.05em;
    padding: 0 1.3em;
    font-size: 0.8em;
    background-color: var(--blue);
    color: white;
    line-height: 2em;
    height: 2em;
    display: inline-block;
    transition: 0.1s;
    margin: auto;
}

.btn:hover {
    background-color: var(--blue-2);
    transform: scale(120%);
    line-height: 1.8em;
    border: 2px solid transparent;
}
/* jumbo settimgs */
.jumbo {
    background-color: var(--light-blue);
    margin-bottom: 160px;
}

.jumbo-container {
    width: 82%;
    margin: auto;
    padding: 80px 0;
}
/* jumbo h1 */
.jumbo-container h1 {
    font-size: 3.5em;
    line-height: 1.52em;
    font-weight: 800;
    margin-bottom: 0.5em;
}
/* jumbo colums setting */
.jumbo-col {
    float: left;
    width: 65%;
    position: relative;
}

.jumbo-col:first-of-type {
    width: 35%;
}
/* text column */
.jumbo-col p {
    font-size: 0.8em;
    line-height: 1.5em;
    padding-right: 2.4em;
    font-weight: 600;
    margin-bottom: 1.5em;
    margin-top: 0.5em;
}

.jumbo-col p:nth-child(3) {
    font-size: 0.72em;
    margin-bottom: 2.5em;
}

.jumbo-col .arrow {
    font-size: 2em;
    color: black;
}
/* jumbo image */
.jumbo-col img{
    width: 100%;
    position: absolute;
}

/* row */
.row {
    width: 70%;
    margin: auto;
}

.subscription h2{
    margin: 2em 0;
}

.subscription .radio-container {
    margin: 2em 0;
    vertical-align: middle;
}

.card {
    width: calc(100% / 3 - 30px);
}

.card>* {
    padding: 10px;
}

.card li {
    padding: 10px 0;
}

/* .card .features li::before {
    content: "\2714";
    color: var(--blue);
    display: block;
    float: left;
} */
.card .features li span,i {
    color: var(--blue);
    display: block;
    float: left;
    width: 50%;
} 


.btn-container {
    text-align: center;
    margin: 20px 0;
}











