/* palette */
:root{
    --light-blue:#B4D0E7;
    --blue: #0061ff;
    --blue-2: #3b86ff;
    --purple: #61082b;
    --light-gray: #f5f5f5;
}
/* basic settings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: open-sans, sans-serif;
    scroll-behavior: smooth;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}
/* layout */
/* header */
header {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    overflow: hidden;
    z-index: 1;
}
    /* blank container under the nav bar  */
body::before{
    content: "";
    display: block;
    height: 50px;
}

header nav {
    width: 100%;
}
    /* head logo */
header .logo-container img{
    object-fit: contain;
    max-width: 100%;
    vertical-align: middle;
    margin-bottom: 2px;
    display: inline-block;
}
    /* nav bar columns */
.nav-col:first-child {
    width: 11%;
}

.nav-col:last-child {
    width: 7%;
}

.nav-col:nth-child(3) ul{
    float: right;
}

.nav-col {
    width: 41%;
    float: left;
    line-height: 50px;
}

nav li {
    float: left;
}

header a{
    margin: 0 1.4em;
    display: inline-block;
    font-size: 0.8em;
    color: black;
    border: 2px solid transparent;
}


nav ul li a:hover{
    border-bottom: 2px solid black;
}
/* button */
.btn {
    word-spacing: 0.05em;
    padding: 0 1.3em;
    font-size: 0.8em;
    background-color: var(--blue);
    color: white;
    line-height: 2em;
    height: 2em;
    display: inline-block;
    transition: 0.1s;
    margin: auto;
    text-align: center;
}

.btn:hover {
    background-color: var(--blue-2);
    transform: scale(120%);
    line-height: 1.8em;
    border: 2px solid transparent;
}

.btn-container {
    text-align: center;
    margin: 20px 0;
}

/* jumbo settimgs */
.jumbo {
    background-color: var(--light-blue);
    margin-bottom: 160px;
}

.jumbo-container {
    width: 82%;
    margin: auto;
    padding: 80px 0;
}
/* jumbo h1 */
.jumbo-container h1 {
    font-size: 3.5em;
    line-height: 1.52em;
    font-weight: 800;
    margin-bottom: 0.5em;
}
/* jumbo colums setting */
.jumbo-col {
    float: left;
    width: 65%;
    position: relative;
}

.jumbo-col:first-of-type {
    width: 35%;
}
/* text column */
.jumbo-col p {
    font-size: 0.8em;
    line-height: 1.5em;
    padding-right: 2.4em;
    font-weight: 600;
    margin-bottom: 1.5em;
    margin-top: 0.5em;
}

.jumbo-col p:nth-child(3) {
    font-size: 0.72em;
    margin-bottom: 2.5em;
}

.jumbo-col .arrow {
    font-size: 2em;
    color: black;
}
/* jumbo image */
.jumbo-col img{
    width: 100%;
    position: absolute;
}

/* row */
.row {
    width: 67%;
    margin: 100px auto;
}

h2 {
    font-size: 2em;
    margin: 2em 0;
}

.subscription .radio-container {
    margin: 2em 0;
    vertical-align: middle;
}
/* card layout */
.card-container {
    display: table; 
}

.card {
    width: 30%;
    border: 1px solid lightgrey;
    display: table-cell;
}

.table-spacing {
    content: "";
    display: table-cell;
}

.subscription h4:first-child {
    /* negative margin for border overlap */
    margin: -1px;
    border: 1px solid lightgrey;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 0.9em;
    font-weight: normal;
}

.card-content {
    padding: 20px;
    padding-bottom: 60px;
}

h3 {
    font-size: 1.4em;
    font-weight: 700;
}

.card-content .price {
    font-size: 0.9em;
    font-weight: 700;
    margin: 15px 0;
}

.card-content .price .duration-users {
    font-size: 0.8em;
    font-weight: 400;
    color: gray;
    display: block;
    padding-top: 10px;
    margin-bottom: 27px;
}
/* button on card */
.subscription .btn {
    font-size: 0.8em;
    display: block;
}
/* lists on card */
.card li {
    padding: 10px 0;
    font-size: 0.75em;
}

.card li span:not(.plus) {
    display: block;
    float: left;
    width: calc(100% - 1.2em);
}

.card li i {
    float: left;
    width: 1.2em;
} 

.card .features i {
    color: var(--blue);
}

.card .plus{
    float: left;
    margin-left: -5px;
    margin-right:3px;
    font-size: 9px;
    vertical-align: text-top;
    line-height: 100%;
    width: 0;
} 
/* card link buy now */
.card-content .buynow {
    margin: 25px 0;
    font-size: 0.8em;
}

.card-content .buynow span {
    display: inline-block;
    padding-bottom: 25px;
    border-bottom: 1px solid lightgrey;
}

.info-link {
    color: var(--blue);
    text-decoration: underline;
    font-size: 0.8rem;
}

.features {
    margin-top: 20px;
}
/* enterprise section */
.enterprise {
    margin-top: 40px;
}

.enterprise h4:first-child {
    margin: 0;
}

.enterprise .clearfix {
    width: 100%;
    padding: 26px 20px;
    border: 1px solid lightgrey;
    margin-top: -1px;
}

.enterprise .column:first-child{
    width: 70%;
    float: left;
}
.enterprise .column:nth-child(2){
    width: 30%;
    float: left;
}

.enterprise .column p:nth-child(2){
    margin: 12px 0 24px;
    font-size: 0.9em;
    font-weight: 600;
}

.enterprise .column p:nth-child(3){
    margin: 0;
    font-size: 0.73em;
}
/* partner */
.partner-column {
    width: 45%;
    float: left;
}

.partner-column:first-child {
    width: 55%;
}

.partner-column:nth-child(2) {
    padding: 40px 0 0 40px;
}

.partner-column p {
    margin: 30px 0;
    font-size: 0.85em;
    line-height: 1.8em;

}

.btn.white {
    background-color: white;
    color: black;
    border: 1px solid black;
    line-height: 2.2em;
    height: 2.2em;
    font-size: 0.9em;
}

/* business */
.grid-row {
    margin: 60px 0;
}

.grid-row .cell {
    width: calc(100% / 3 - 20px);
    float: left;
}

.grid-row .cell:nth-child(2) {
    margin: 0 30px;
}

img {
    width: 100%;
    object-fit: contain;
    display: block;
}

.grid-row .cell-text h3 {
    margin-top: 20px;
}
.grid-row .cell-text p {
    font-size: 0.9em;
    margin: 30px 0;
    line-height: 1.2em;
}

.grid-row .cell-text .underline {
    text-decoration: underline;
}

/* customer */
.customer h2.row {
    margin-bottom: 30px;
}

.customer p.row {
    margin-top: 30px;
}
/* main coulumns */
.our-customer{
    width: 100%;
}
.our-customer>* {
    float: left;
}

.our-customer .review {
    width: 40%;
    overflow: scroll;
    background-color: var(--light-gray);
    height: 400px;
}
/* central column */
.our-customer .mark-space {
    width: 30%;
}

.mark-row {
    height: 200px;
}

.mark-row .mark-container {
    width: 50%;
    height: 200px;
    float: left;
    position: relative;
}

.review .art-container {
    padding: 10%;
}

.mark-container.green {
    background-color: #a2d39b;
    border: 10px solid rgba(255, 255, 255, 0.5);
}

.mark-container.purple {
    background-color: var(--purple);
}

.mark-container.blue {
    background-color: var(--blue);
}

.mark-container.red {
    background-color: #ff1c1c;
}

.mark-container.red2 {
    background-color: #d5001f;
}

.mark-container.lightblue {
    background-color: var(--light-blue);
}

.mark-container.oceanblue {
    background-color: #0d2481;
}

.mark-container.yellow {
    background-color: #ffd830;
}
/* take-dropbox */
.take-dropbox {
    background-color: var(--light-blue);
}

.take-dropbox .row {
    margin-top: 0;
    padding: 100px 0;
}

.take-dropbox .row.clearfix>* {
    float: left;
}

.take-dropbox .row.clearfix>h2 {
    width: 70%;
    margin: 0;
    color: var(--purple);
    padding-right: 100px;
}

.take-dropbox .row.clearfix>.btn-container {
    width: 30%;
    margin: 0;
}

.take-dropbox .row.clearfix>.btn-container .btn{
    display: block;
    border: 0;
}
/* faq */
.faq-container h2 {
    font-size: 1.6em;
    margin-bottom: 38px;
}

.faq li {
    border-top: 1px solid lightgray ;
    border-bottom: 1px solid lightgray ;
    margin: -1px 0;
    padding: 25px;
    font-size: 0.9em;
}

.faq li .clearfix {
    width: 100%;
}

.faq .question {
    float: left;
    font-weight: 700;
}

.faq .arrow {
    float: right;
    position: relative;
}

.faq .answer {
    background-color: var(--light-gray);
    margin-top: 50px;
    padding: 20px;
    display: none;
}

.faq li:hover .answer {
    display: block;
}
/* arrow */
.faq li .arrow i:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
}

.faq li:hover .arrow i:nth-child(2) {
    display: none;
}


















